!!! transitional
%html{xmlns: "http://www.w3.org/1999/xhtml" } 
  %head
    %title Read This Next
    %link{rel: 'stylesheet', type:'text/css', href:'css/style.css'}
    %link{rel: 'stylesheet', type:'text/css', href:'css/blueprint/screen.css', media: "screen, projection"}
    %link{rel: 'stylesheet', type:'text/css', href:'css/blueprint/print.css', media: "print"}
    %meta{http-equiv: 'Content-Type' content: 'text/html; charset=utf-8'}
    <!--[if lt IE 8]><link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
  %body
    .container
      %h1.span-24.last Read This Next
      =body
