h1, h2 {text-align:center;}
li.book {list-style: none;}
#search-results {display: none; width:auto; height: 300px; overflow-y:scroll;}
#recommend-form textarea {height: 100px;}
#recommend-form ul {padding-left:0px; } 
